<Server type="Generic"
   log4j.appender.console="org.apache.log4j.ConsoleAppender"
   log4j.appender.console.layout="org.apache.log4j.PatternLayout"
   log4j.appender.console.layout.ConversionPattern="%d{ABSOLUTE} %-5p [%c{1}] %m%n"
   log4j.logger.nexj="DEBUG, console"
   meta.url="file:/c:/work/WS/healthcare/meta"
   meta.base.url="file:/c:/work/WS/app/meta"
   meta.connections.url="file:/c:/work/WS/app/env/Demo.connections"
/>
