<Environment
   type="Generic"
   description="JUnit test environment"
   meta.url="/nexj/base/"
   log4j.appender.console="org.apache.log4j.ConsoleAppender"
   log4j.appender.console.layout="org.apache.log4j.PatternLayout"
   log4j.appender.console.layout.ConversionPattern="%d{ABSOLUTE} %-5p [%c{1}] %m%n"
   log4j.rootLogger="DEBUG, console"
   log4j.logger.nexj.core.model.dataobject.server.ServerRequestor="ALL"
   log4j.logger.org.apache="INFO"
   test="true"
   secureTransport="false"
   app.user="jtest"
   defaultrelationaldatabase.mysql.enabled="true"
   defaultrelationaldatabase.postgresql.enabled="true">
   <DataSourceConnections>
      <RelationalDatabaseConnection dataSource="DefaultRelationalDatabase"
         adapter="MySQL" unicode="true"
         database="test" 
         host="tor-sv-mysql" port="3306" 
         password="test" user="test">
         <SQLHook activation="context" description="Hook to count the number of reads" type="nexj.core.persistence.sql.ReadCountHook"/>
      </RelationalDatabaseConnection>
      <RelationalDatabaseConnection dataSource="ExternalRelationalDatabase" 
         adapter="MySQL" unicode="true"
         database="test" 
         host="tor-sv-mysql" port="3306" 
         password="test" user="test">
         <SQLHook activation="context" description="Hook to count the number of reads" type="nexj.core.persistence.sql.ReadCountHook"/>
      </RelationalDatabaseConnection>
      <ServiceDataSourceConnection dataSource="MemoryVirtualSource"/>
   </DataSourceConnections>
   <ChannelConnections>
      <MessageQueueConnection channel="ErrorQueue" user="mq" password="mqpass"/>
      <MessageQueueConnection channel="SyncQueue" user="mq" password="mqpass"/>
      <MailConnection channel="Mail"
         user="mailtest" password="mail123pass" from="mailtest@nexjsystems.com"
         inProtocol="pop3" inHost="192.168.25.1" inEncryption="TLS"
         outProtocol="smtp" outHost="192.168.25.1"/>
      <HTTPConnection channel="WSDLExportTestChannel1" secure="false"/>
   </ChannelConnections>
   <SOAConnections>
      <SOAConnection service="nexj:soa:Registry:1.0" binding="local"/>
      <SOAConnection service="nexj:example:performance:1.0" binding="local">
         <Properties>
            <Property name="test1" value="(+ 40 2)"/>
         </Properties>
      </SOAConnection>
      <SOAConnection service="mod1:nexj:example:performance:1.0" binding="local"/>
   </SOAConnections>
</Environment>